.search-bar {
  display: flex;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 3vh;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background-color: #d9d9d9;
}

.search-bar input::placeholder {
  font-style: italic;
  color: #939393;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #939393;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-bar {
    width: 70%;
  }

  .search-bar input {
    padding: 8px;
  }

  .search-icon {
    font-size: 1em;
    margin-top: 1px;
  }
}
